@page
@model _2020_backend.Pages.Account.DeniedModel
@{
    ViewData["Title"] = "登录";
}

<h1>登录</h1>
<h3>认证失败，请重新登录或联系系统管理员</h3>
<button class="btn btn-primary"  asp-area="/" asp-page="/Account/Login">重新登录</button>