@page
@model _2020_backend.Pages.Times.ExportModel
@{
    ViewData["Title"] = "Export";
}

<h3>导出</h3>



<form class="m-2" method="post">
    <button type="submit" class="btn btn-outline-primary mb-2">导出所有!</button>
</form>